body {
	background-color: lightgrey;
	background-image: url("photos/finance.jpg");
	background-repeat: no-repeat;
	background-size: 400px 250px;
	background-position: right top;
	background-attachment: fixed;
}
header img{
	height: 150px;
	width: 200px;
	position: fixed;
  	bottom: 15;
  	left: 0;
  	border: 3px solid #73AD21;
}
#customerform{
	margin: auto;
    text-align: left;
    border: 3px dotted red;
    padding: 30px;
    width: max-content;
    background-color: lightpink;
}
